@{
    Layout = "_Master";
}
<form method="post" action="/user/authorize">
    <table>
        <tr>
            <td><label>Логин</label></td>
            <td><input type="text" name="Login" /></td>
        </tr>
        <tr>
            <td><label>Пароль</label></td>
            <td><input type="password" name="Password" /></td>
        </tr>
    </table><br>
    <button type="submit">отправить</button>
</form>

