@using Presentation.Mappers.DtoApps.UserDtoApps
@model UserDtoApp

@{

}
<style type="text/css">
    .colorSet {
        color: darkblue;
    }
</style>

<h2 class="colorSet"><strong>Пользователь</strong></h2>
<div><label>Логин: </label><span>@Model.Login</span></div>
<div><label>Email: </label><span>@Model.Email</span></div>
<hr class="colorSet" />
