@using Presentation.Mappers.DtoViews.UserDtoViews
@model UserIdDtoView

@{

}
<style type="text/css">
    table tr td {
        color: darkblue;
    }
    h2 {
        color: darkblue;
    }
</style>

<h2><strong>Пользователь</strong></h2>

<table>
    <tr>
        <td>Id:</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Логин: </td>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <td>Мэйл:</td>
        <td>@Model.Email</td>
    </tr>
</table>

<hr class="colorSet" />
