@using Presentation.Mappers.DtoViews.UserDtoViews
@model UserDtoView

@{
    Layout = "_Master";
}
<style type="text/css">
    table tr td {
        color: darkblue;
    }
    h2 {
        color: darkblue;
    }
</style>

<h3><strong>User</strong></h3>
<hr class="colorSet" />
<table>
    <tr>
        <td><strong>Id:</strong></td>
        <td>@ViewData["id"]</td>
    </tr>
    <tr>
        <td><strong>Логин: </strong></td>
        <td>@Model.Login</td>
    </tr>
    <tr>
        <td><strong>Мэйл:</strong></td>
        <td>@Model.Email</td>
    </tr>
</table>


