@using Presentation.Mappers.DtoViews.UserDtoViews
@model UserDtoView

@{
    Layout = "_Master";
}


<form method="post">
    <h3>Создать</h3>
    <table>
        <tr>
            <td width="100px"><label>Логин:</label></td>
            <td><input name="Login" type="text" maxlength="20" /></td>
        </tr>
        <tr>
            <td><label>Пароль:</label></td>
            <td><input name="Password" type="password" /></td>
        </tr>
        <tr>
            <td><label>Email:</label> </td>
            <td> <input name="Email" type="email" /></td>
        </tr>
    </table>
    <br />
    <button type="submit" formaction="user/add">Отправить</button>
</form>

