@using Presentation.Mappers.DtoApps.UserDtoViews;

@model UserDtoView

@{
    Layout = "_Master";
}
<style>
    table tr td{
        color:darkblue;
    }

    .myStyle{
        color: darkblue;
    }
</style>
<form method="post">
    <h3 class="myStyle">Создать</h3>
    <table>
        <tr>
            <td width="100px"><label>Логин:</label></td>
            <td><input name="Login" type="text" maxlength="20" /></td>
        </tr>
        <tr>
            <td><label>Пароль:</label></td>
            <td><input name="Password" type="password" /></td>
        </tr>
        <tr>
            <td><label>Email:</label> </td>
            <td> <input name="Email" type="email" /></td>
        </tr>
    </table>

    <button type="submit" formaction="user/add">Отправить</button>
</form>
