@using Presentation.DtoViews.UserDtoViews
@model UserFullDtoView
@{
    var obj = Model as UserFullDtoView;
    Layout = "_Master";
}
<h3>Аккаунт</h3>
<div><a href="/user/edit/@obj.Id">изменить</a> | <a href="/profile/@obj.Id">профиль</a></div>
<br />
<table>
    <tr>
        <td><label>Логин: </label></td>
        <td><span>@obj.Login</span></td>
    </tr>
    <tr>
        <td><label>Добавлен: </label></td>
        <td><span>@obj.DateCreated</span></td>
    </tr>
    <tr>
        <td><label>Почта: </label></td>
        <td><span>@obj.Email</span></td>
    </tr>
    <tr>
        <td><label>Роль: </label></td>
        <td><span>@obj.Role?.RoleName</span></td>
    </tr>
</table>
<br />