

@{
    
Layout = "/Infrastructure/Views/Shared/_Master.cshtml";
ViewData["title"] = "HOME";
}
<br>
<h2 style="color:blue;">Good Day!!</h2>
<br>

@section foot
{
   <h3 style ="color:darkred">Дата: @DateTime.UtcNow</h3>
}