@{
    Layout = null;
}

<style type="text/css">
    .borderColor {
        border-right-color: red;
        border-right-style: solid;
        border-right-width: 1px;
        margin-right:10px;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="@ViewBag.Title" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div style="height:50px; background-color: brown"></div>
    <div>
        <br />
        <table height="200px">
            <tr>
                <td width="100px">
                    <div class="borderColor">
                        <strong>USERS</strong><br />
                        <a href="/user">Форма</a><br />
                        <a href="/user/all">Все</a>
                    </div>
                </td>
                <td>@RenderBody()</td>
            </tr>
        </table>

    </div>
    <br />
    <br />
    <div style="height:25px; background-color:cadetblue"></div>
</body>
</html>
