@{
    Layout = null;
}

<style type="text/css">
    body {
        color: blue;
        font-family: Calibri, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

        body a {
            color: maroon
        }

    label {
        font-style: italic;
    }

    hr {
        background-color: darkblue;
        color: darkblue;
    }

    .borderColor {
        border-right-color: red;
        border-right-style: solid;
        border-right-width: 1px;
        margin-right: 10px;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="@ViewBag.Title" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div style="height:50px; background-color: brown"></div>
    <div>
        <br />
        <table height="200px">
            <tr>
                <td width="150px">
                    <div class="borderColor">
                        <strong>USERS</strong><br />
                        <a href="/user">Регистрация</a><br />
                        <a href="/user/authorize">Профиль</a><br />
                        <br /><br />
                        <a href="/user/all">Список</a><br />
                        <br />
                    </div>
                </td>
                <td>
                    <h2>@ViewBag.Title</h2>
                    @RenderBody()
                </td>
            </tr>
        </table>
    </div>
    <br />
    <br />
    <div style="height:100%; background-color:cadetblue"></div>
</body>

</html>
