
@using  WebApp_DEBUG.Domain.Model.UserModel
@model IReadOnlyCollection<User>

@{

    Layout = "/Infrastructure/Views/Shared/_Master.cshtml";
    ViewData["title"] = "ALL USER";
}
 
<h2 style="color:blue">Users list</h2>
<hr style="color:blue" />
   @foreach(var v in Model)
{
    <div><span>Id</span>v.Id</div>
    <div><span>Login</span>v.Login</div>
    <div><span>Email</span>v.Email</div>
    <div><span>isDeleted</span>v.isDeleted</div>
    <div><span>RoleName</span>v.UserRole.RoleName</div>
    <hr /><br />
}

@section foot{
    All users company
}