@{
    Layout = null;
    var footSection = "foot";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
</head>
<body>

    <div style="height:50px;background-color:blue"><h2 style="margin-left:150px;color:white; padding-top:10px;">HELLO!!!</h2></div>
    <div>
    <table style="margin-left:150px;">
        <tr>
            <td style="padding:5px;">
                <a href="/">Home</a>
            </td>
        </tr>
    </table>
    </div>

    <hr style="color:blue" />

    <div>
    <table>
        <tr>
            <td style="width:150px">
                    <div style="color:crimson;text-decoration:underline"><strong>Links</strong></div>
 
                <a href="/user/form">Add User</a><br />
                    <span style="color:red">работает</span><br />
                <a href="/user/list">All Users</a><br />
                    <span style="color:red">!!! Ошибка - Object reference not set to an instance of an object</span>
            </td>
            <td style="display:block">@RenderBody()</td>
            </tr>
    </table>
    <hr style="color:blue" />

        <footers>
            @if (IsSectionDefined(footSection))
            {
                @RenderSection(footSection, false);
            }
            else
            {
                <span>no sections</span>
            }
        </footers>
     </div>
</body>
</html>
