
@{
    var uk = "test-login";
}
<h2>Loader</</h2>
<hr />

@using (Html.BeginForm("Upload", "Files", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input hidden name="userkey" value="@uk">
    <input type="file" name="upfile" multiple />
    <button type="submit">загрузить</button>
}
<hr />
<div><a href="/api/files/all/@uk">Файлы >>></a></div>
<br />